.App {
  text-align: center;
}

.App-header {
  background-color: #005f73;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

body{
  background-color: #edf6f9;
}

table {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.card{
  margin: auto;
  margin-top: 30px;
}

.button{
  margin-top: 20px;
}

/* .adminTable{
background-color: #edf6f9;
} */

/* .radioButtons{
  margin-left: 5px;
} */